.register_main_container {
  width: 100%;
  min-height: inherit;
  background-color: #52ab98;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register_form_container {
  width: 350px;
  height: fit-content;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.main_form_container {
  margin: 50px;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.field_name {
  width: 100%;
  padding-left: 20px;
  margin-bottom: 5px;
}
