.App {
  text-align: center;
  font-family: cursive;
  min-height: 100vh;
  display: flex;
}

.title {
  font-family: "good_times";
  margin: 0;
}

input {
  width: 230px;
  height: 40px;
  border-radius: 10px;
  padding-left: 10px;
  font-family: cursive;
}

button {
  width: 240px;
  height: 40px;
  margin-top: 40px;
  border-radius: 10px;
  background-color: #52ab98;
  color: #ffffff;
  border-color: transparent;
  cursor: pointer;
  font-family: cursive;
  transition: all 200ms linear;
}

button:hover {
  background-color: #2b6777;
}
