@font-face {
  font-family: "space_age";   /*Can be any text*/
  src: url("../public/font/space_age/space-age.regular.ttf") format("truetype");
}

@font-face {
  font-family: "good_times";   /*Can be any text*/
  src: url("../public/font/good_times/good\ times\ rg.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
